@keyframes titleCard1Glow {
    0%   {text-shadow: 0px 0px 25px #ff4500;-webkit-text-fill-color: #000000;}
    50%  {text-shadow: 0px 0px 45px #ff4500;-webkit-text-fill-color: #ff4500;}
    100% {text-shadow: 0px 0px 25px #ff4500;-webkit-text-fill-color: #000000;}
}

@keyframes titleCard2Glow {
    0%   {text-shadow: 0px 0px 25px #0195ff;-webkit-text-fill-color: #0195ff00;}
    50%  {text-shadow: 0px 0px 45px #0195ff;-webkit-text-fill-color: #0195ff;}
    100% {text-shadow: 0px 0px 25px #0195ff;-webkit-text-fill-color: #0195ff00;}
}

@keyframes gameResetAnim {
    0%   {text-shadow: 0px 0px 15px #0195ff;-webkit-text-stroke-color: #0195ff30; box-shadow: 0px 0px 18px #0195ff20;}
    50%  {text-shadow: 0px 0px 25px #0195ff;-webkit-text-stroke-color: #0195ff; box-shadow: 0px 0px 24px #0195ff;}
    100%  {text-shadow: 0px 0px 15px #0195ff;-webkit-text-stroke-color: #0195ff30; box-shadow: 0px 0px 18px #0195ff20;}
}

@keyframes gameWinnerAnim-1 {
    0%   {text-shadow: 0px 0px 15px #ff4500;-webkit-text-stroke-color: #ff450030;}
    50%  {text-shadow: 0px 0px 25px #ff4500;-webkit-text-stroke-color: #ff4500;}
    100%  {text-shadow: 0px 0px 15px #ff4500;-webkit-text-stroke-color: #ff450030;}
}

@keyframes gameWinnerAnim-2 {
    0%   {text-shadow: 0px 0px 15px #0195ff;-webkit-text-stroke-color: #0195ff30;}
    50%  {text-shadow: 0px 0px 25px #0195ff;-webkit-text-stroke-color: #0195ff;}
    100%  {text-shadow: 0px 0px 15px #0195ff;-webkit-text-stroke-color: #0195ff30;}
}

.GameConsole{
    padding: 5px;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    align-items: center;
}

.GameConsole-title{
    width: 400px;
    min-width: 200px;
    color: #ff4500;
    font-size: 60px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
}

.GameConsole-title-card{
    font-weight: 900;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ff4500;
    width: 400px;
    min-width: 200px;
    height: 90%;
    text-align: center;
    margin: 15px 0px;
}

.GameConsole-title-card-content{
    width: 100%;
}

.GameConsole-title-card-1{
    width:auto;
    color: #ff4500;
    -webkit-text-stroke-color: #ff4500;
    text-shadow: 0px 0px 25px #ff4500;
    animation: titleCard1Glow 1.5s infinite;
}

.GameConsole-title-card-2{
    width:auto;
    color: #0195ff;
    -webkit-text-stroke-color: #0195ff;
    text-shadow: 0px 0px 25px #0195ff;
    animation: titleCard2Glow 4s infinite;
}

.GameConsole-Display{
    width: 400px;
    min-width: 200px;
    height: 400px;
    min-height: 200px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    cursor: pointer;
}

.GameConsole-reset{
    width: 400px;
    min-width: 200px;
    height:  50px;
    background: transparent;
    background-image: linear-gradient(#0195ff10, #0195ff80, #0195ff10);
    box-shadow: 0px 0px 15px transparent;
    font-size: 25px;
    font-weight: 900;
    color: #001b2d80;
    text-shadow: 0px 0px 3px #00111de4;
    -webkit-text-stroke: 1px;
    animation: gameResetAnim 3s infinite;
    margin-top: 20px;
    opacity: 1;
    cursor: pointer;
    transition: .2s;
}

.GameConsole-reset:hover{
    background-image: linear-gradient(#0195ff10, #0195ff80, #0195ff10);
    box-shadow: 0px 0px 30px #0195ff;
    color: #01a6ff;
    text-shadow: 0px 0px 8px #0195ff;
    animation: none;
    opacity: 1;
    transition: .2s;
}

.GameConsole-gameStatus{
    width:100%;
    font-size: 72px;
    font-weight: 700;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
}

.GameConsole-winner-ff4500{
    color: #ff4500;
    animation: gameWinnerAnim-1 3s infinite;
}

.GameConsole-winner-0195ff{
    color: #0195ff;
    animation: gameWinnerAnim-2 3s infinite;
}