@keyframes gameSquareAtRest {
    0%   {border-color: #ff450020; background-color: #ff450010}
    50%  {border-color: #ff450000; background-color: transparent}
    100% {border-color: #ff450020; background-color: #ff450010}
}

.GameSquare{
    width: 17%;
    height: 17%;
    background-image: linear-gradient(#ffffff05, #ffffff10, #ffffff05);
    border: 5px solid transparent;
    border-radius: 5px;
    animation: gameSquareAtRest 1.5s infinite;
    margin:1px;
    opacity:.75;
    transition: .2s;
}

.GameSquare:hover{
    background-image: linear-gradient(#ff450070, #ff4400, #ff450070);
    box-shadow: 0px 0px 15px #ff6a00;
    opacity: 1;
    transition: .2s;
}

.GameSquare-active{
    border: 5px solid transparent;
    background-image: linear-gradient(#ff450020, #ff450080, #ff450020);
    box-shadow: 0px 0px 15px #ff4500;
    opacity: 1;
    transition: .2s;
}

